section{
	height: 1600px;
}

section img{
	padding: 1em;
	float:left;
}
section p{
	text-align: center;
}
section li {
    float: left;
    display: inline;
    margin: 10px;
	width:250px;
}
#asideB{
    float: right;
    width: 160px;
	padding: 20px 20px;     
}
#nav_index ul { 
	list-style: none;
	padding-right: 1.5em;
    padding-top: 1em;
}
#nav_index ul li { 
	width: 130px;
	margin-bottom: .5em;
	border: 2px solid blue;
        border-radius: 10px;
    box-shadow: 3px 3px 3px red;
}
#nav_index ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	background-color: mediumvioletred;
	padding: .5em 0 .5em .5em;
	color: floralwhite;
}
section img{
    border: 1px solid grey;
}
section img:hover{
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -transfrom: scale(1.2,1.2);
    z-index: 9999;
    box-shadow: 2px 2px 2px red;
}
