#asideB{
    float: right;
    width: 160px;
	padding: 20px 20px;     
}
#nav_index ul { 
	list-style: none;
	padding-right: 1.5em;
}
#nav_index ul li { 
	width: 130px;
	margin-bottom: .5em;
	border: 2px solid blue; }
#nav_index ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	background-color: mediumvioletred;
	padding: .5em 0 .5em .5em;
	color: floralwhite;
}
#zion{
    border: 2px solid red;
    margin: auto;
    box-shadow: 1px 2px pink;
}

