figure,figcaption{
    margin: 0;
    padding: 0;
}
figure{
    border:  2px solic red;
    width: 600px;
    padding: 15px;
}
figcaption{
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 120%;
    padding-bottom: .25em;
}
table{
    
    border: 3px solid blue;
    margin: 10px auto;
    box-shadow: 2px 5px red;
}
th,td{
    border: 2px solid red;
    padding: .2em .7em;
    text-align: right;
}
th.left, td.left{
    text-align: left;
}
thead,tfoot{
    background-color: antiquewhite;
}
tfoot{
    font-weight: bold;
}
#asideB{
    float: right;
    width: 160px;
	padding: 20px 20px;     
}
#nav_index ul { 
	list-style: none;
	padding-right: 1.5em;
    padding-top: 1em;
}
#nav_index ul li { 
	width: 130px;
	margin-bottom: .5em;
	border: 2px solid blue;
        border-radius: 10px;
    box-shadow: 3px 3px 3px red;
}
#nav_index ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	background-color: mediumvioletred;
	padding: .5em 0 .5em .5em;
	color: floralwhite;
}